.arrow-wrap {
    width: 75px;
    margin: 0 auto;
}

.btn-up {
    width: 75px;
    height: 75px;
    font-size: 24px;
    background: red;
    position: relative;
}

.btn-left {
    width: 75px;
    height: 75px;
    font-size: 24px;
    background: blue;
    position: relative;
    right: 75px;
}

.btn-down {
    width: 75px;
    height: 75px;
    font-size: 24px;
    background: green;
    position: relative;
    top: -75px;
}

.btn-right {
    width: 75px;
    height: 75px;
    font-size: 24px;
    background: yellow;
    position: relative;
    top: -150px;
    left: 75px;
}

button:active {
    filter: brightness(150%);
}
